/110A.exe
/1869A.exe
/1875A.exe
/1878C.exe
/1999B.exe
/208A.exe
/2130A.exe
/337A.exe
/339B.exe
/492B.exe
/546A.exes
/580A.exe
/977A.exe
/my.cpp
/my.exe
/Prob2.cpp
/Prob2.exe
*.exe
/weird_sort.exe
Revision*.exe